<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<head>
	<title>Project - Video Sharing!</title>
</head>


<style>
	body {
		width: 100%;
		height: 100%;
		font-family: 'Roboto';
	}

	.cate-drawer-separator {
		height: 1px;
		background-color: #dcdcdc;
		margin: 8px 0;
	}

	.cate-drawer .mdl-navigation__link.mdl-navigation__link {
		font-size: 14px;
		color: #757575;
	}

	.cate-drawer span.mdl-navigation__link.mdl-navigation__link {
		color: #3f51b5;
		font-weight: bold;
	}

	.demo-card-wide.mdl-card {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.demo-card-wide>.mdl-card__title {
		color: #fff;
		height: 176px;
		background: url('https://getmdl.io//assets/demos/welcome_card.jpg') center / cover;
	}

	.demo-card-wide>.mdl-card__menu {
		color: #fff;
	}

	.feature-card-wide.mdl-card {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.feature-card-wide>.mdl-card__title {
		color: #ffffff;
		height: 188px;
		background: #EC407A;
	}

	.feature-card-wide>.mdl-card__menu {
		color: #fff;
	}
	
	.demo-list-three {
		width: 400px;
	}

	#welcomeTitle {
		background: url('https://assets.materialup.com/uploads/54ab9316-6e9c-4b00-9091-56facd71b888/telescope.jpg') center / cover;
	}

	#featureTitle {
		background: url('https://getmdl.io//assets/demos/welcome_card.jpg') center / cover;
	}

	#submitTitle {
		background: url('https://s-media-cache-ak0.pinimg.com/originals/80/7d/2d/807d2d4c8009e4118c29861b2eccf81e.jpg') center / cover;
	}

	#aboutTitle {
		background: url('https://assets.materialup.com/uploads/e232b91a-bf20-405c-a126-f337a55a9b93/preview.png') center / cover;
	}

	#githubTitle {
		background: url('https://s-media-cache-ak0.pinimg.com/736x/0f/2c/68/0f2c684e65d8d03b896ccb5fde41d0ba.jpg') center / cover;
	}
</style>

<body id="body">
	<!-- Master View -->
	<!-- Simple header with scrollable tabs. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

		<!-- Master header -->
		<header class="mdl-layout__header">

			<!-- Top header -->
			<div class="mdl-layout__header-row">

				<!-- Title -->
				<span class="mdl-layout-title">Project - Video Sharing!
				</span>
				<!-- Title ENDS -->

				<!-- Spacer -->
				<div class="mdl-layout-spacer">
				</div>
				<!-- Spacer ENDS -->

				<!-- Search Button -->
				<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Add function to this button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
						<i class="material-icons">search
						</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
					</div>
				</div>
				<!-- Search Button ENDS-->

			</div>
			<!-- Top header ENDS -->

			<!-- Tabs -->
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
				<a href="#scroll-tab-1" class="mdl-layout__tab is-active">Home</a>
				<a href="#scroll-tab-2" class="mdl-layout__tab">Upload</a>
				<div class="mdl-layout-spacer"></div>
				<a href="#scroll-tab-3" class="mdl-layout__tab">About</a>
				<a href="#scroll-tab-4" class="mdl-layout__tab">Github</a>
			</div>
			<!-- Tabs ENDS -->

		</header>
		<!-- Master header ENDS-->

		<!-- Drawer -->
		<div class="cate-drawer mdl-layout__drawer">

			<span class="mdl-layout-title"><b>Categories</b></span>

			<nav class="mdl-navigation">

				<!--Script for passing category info to backend; uses jquery and ajax get
				http://stackoverflow.com/questions/29987323/how-do-i-send-data-from-js-to-python-with-flask
				https://api.jquery.com/jQuery.get/-->
				<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
				<script type=text/javascript>
					$(document).ready(function(){
						$("a").click(function(){
							$.get("index.html", this.getAttribute('id'))
						});
					});
				</script>-->

				<!--onClick="passTabInfo(this.getAttribute('id'))"-->

				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">SPORTS</span>
				<a class="mdl-navigation__link" id="Football" href="{{ url_for('listVideosFootball') }}">Football</a>
				<a class="mdl-navigation__link" id="Soccer" href="{{ url_for('listVideosSoccer') }}">Soccer</a>
				<a class="mdl-navigation__link" id="Basketball" href="{{ url_for('listVideosBasketball') }}">Basketball</a>
				<a class="mdl-navigation__link" id="Other sports..." href="{{ url_for('listVideosOSports') }}">Other sports...</a>
				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">MUSIC</span>
				<a class="mdl-navigation__link" id="Classical" href="{{ url_for('listVideosClassical') }}">Classical</a>
				<a class="mdl-navigation__link" id="Pop" href="{{ url_for('listVideosPop') }}">Pop</a>
				<a class="mdl-navigation__link" id="Instrumental" href="{{ url_for('listVideosInstrumental') }}">Instrumental</a>
				<a class="mdl-navigation__link" id="Other music..." href="{{ url_for('listVideosOMusic') }}">Other music...</a>
				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">MOVIE</span>
				<a class="mdl-navigation__link" id="Action" href="{{ url_for('listVideosAction') }}">Action</a>
				<a class="mdl-navigation__link" id="Comedy" href="{{ url_for('listVideosComedy') }}">Comedy</a>
				<a class="mdl-navigation__link" id="Documentary" href="{{ url_for('listVideosDocumentary') }}">Documentary</a>
				<a class="mdl-navigation__link" id="Other movie..." href="{{ url_for('listVideosOMovies') }}">Other movie...</a>
				<div class="cate-drawer-separator"></div>
				<a class="mdl-navigation__link" id="Others" href="{{ url_for('listVideosO') }}">Others</a>
			</nav>

			<!--http://flask.pocoo.org/docs/0.10/patterns/jquery/-->
			<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>-->

		</div>
		<!-- DrawerENDS -->

		<!-- Content for each tab -->
		<main class="mdl-layout__content">

			<!-- Home TAB -->
			<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
				<div class="page-content">
					<!-- Home TAB content goes here -->
					<br>
					<br>
					<br>
					<!-- Welcome card with share menu button -->
					<div class="demo-card-wide mdl-card mdl-shadow--16dp">
						<div class="mdl-card__title" id="welcomeTitle">
							<h2 class="mdl-card__title-text">Welcome</h2>
						</div>
						<div class="mdl-card__supporting-text" align="left">
							This is the home page.<br> To start exploring videos, click the drawer button on the top left!
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a href="soccer.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									Get Started
							</a>
						</div>
						
						<!-- Share menu button -->
						<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Add function to this button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
						<div class="mdl-card__menu">
							<button id="share-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
								<i class="material-icons">share</i>
							</button>
							<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-menu">
								<a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https%3A%2F%2Fgetmdl.io%2F&display=popup&ref=plugin&src=share_button" class="mdl-menu__item">Share with friends!</a>
							</ul>
						</div>
						<!-- Share menu button ENDS-->
						
					</div>
					<!-- Welcome card with share menu button ENDS -->
					
					<br>
					<br>

					<!-- Feature card with share menu button -->
					<div class="feature-card-wide mdl-card mdl-shadow--16dp">
						<div class="mdl-card__title" id="featureTitle">
							<h2 class="mdl-card__title-text">Features</h2>
						</div>
						<div class="mdl-card__supporting-text" align="left">
							We want our website to be a platform for people to share and comment on their favorite YouTube videos.
						</div>
					</div>
					<!-- Feature card with share menu button ENDS -->
					
					<!-- Home TAB content ENDS -->
				</div>
			</section>
			<!-- Home TAB ENDS -->

			<!-- Upload TAB -->
			<section class="mdl-layout__tab-panel" id="scroll-tab-2">
				<div class="page-content">
					<!-- Upload TAB content goes here -->
					<br>
					<br>
					<br>
					
					<!-- Upload card -->
					<div class="demo-card-wide mdl-card mdl-shadow--16dp">
					
						<!-- Card title -->
						<div class="mdl-card__title" id="submitTitle">
							<h2 class="mdl-card__title-text">Submit your favorite!</h2>
						</div>
						<!-- Card title ENDS -->
						
						<!-- Start the Form here-->
						{% block body %}
						<form method="POST" action="{{ url_for('getNewVideo') }}">
						<!-- Video info -->
						<div class="mdl-card__supporting-text mdl-card--border" align="center">
							
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="sample3" name="URL">
									<label class="mdl-textfield__label" for="sample3">YouTube Link:</label>
								</div>
							
							
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="sample3" name="comment">
									<label class="mdl-textfield__label" for="sample3">Your description or comments:</label>
								</div>
							
							
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="sample3" name="nm">
									<label class="mdl-textfield__label" for="sample3">Your name:</label>
								</div>
							
						</div>
						<!-- Video info ENDS -->
						
						<!-- Upload Category Options -->
						<div class="mdl-card__supporting-text">
							<!-- Left section of category options -->
							<div id="c1" style="float: left; width:50%;">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Football">
									<input type="radio" id="option-Football" class="mdl-radio__button" name="cat" value="Football" checked>
									<span class="mdl-radio__label">Football</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Soccer">
									<input type="radio" id="option-Soccer" class="mdl-radio__button" name="cat" value="Soccer">
									<span class="mdl-radio__label">Soccer</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Basketball">
									<input type="radio" id="option-Basketball" class="mdl-radio__button" name="cat" value="Basketball">
									<span class="mdl-radio__label">Basketball</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Other sports">
									<input type="radio" id="option-Other sports" class="mdl-radio__button" name="cat" value="Other musicOther sports">
									<span class="mdl-radio__label">Other sports</span>
								</label><br>
								<br>
								<br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Classical">
									<input type="radio" id="option-Classical" class="mdl-radio__button" name="cat" value="Classical">
									<span class="mdl-radio__label">Classical</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Pop">
									<input type="radio" id="option-Pop" class="mdl-radio__button" name="cat" value="Pop">
									<span class="mdl-radio__label">Pop</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Instrumental">
									<input type="radio" id="option-Instrumental" class="mdl-radio__button" name="cat" value="Instrumental">
									<span class="mdl-radio__label">Instrumental</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Other music">
									<input type="radio" id="option-Other music" class="mdl-radio__button" name="cat" value="Other music">
									<span class="mdl-radio__label">Other music</span>
								</label><br>
							</div>
							<!-- Left section of category options ENDS -->
							
							<!-- Right section of category options -->
							<div id="c2" style="float: right; width:50%;">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Action">
									<input type="radio" id="option-Action" class="mdl-radio__button" name="cat" value="Action">
									<span class="mdl-radio__label">Action</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Comedy">
									<input type="radio" id="option-Comedy" class="mdl-radio__button" name="cat" value="Comedy">
									<span class="mdl-radio__label">Comedy</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Documentary">
									<input type="radio" id="option-Documentary" class="mdl-radio__button" name="cat" value="Documentary">
									<span class="mdl-radio__label">Documentary</span>
								</label><br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-Other movie">
									<input type="radio" id="option-Other movie" class="mdl-radio__button" name="cat" value="Other movie">
									<span class="mdl-radio__label">Other movie</span>
								</label><br>
								<br>
								<br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-others">
									<input type="radio" id="option-others" class="mdl-radio__button" name="cat" value="others">
									<span class="mdl-radio__label">OTHERS</span>
								</label><br>
							</div>
							<!-- Right section of category options ENDS -->
						</div>
						<!-- Upload Category Options ENDS -->
						
						<!-- Submit button -->
						<div class="mdl-card__actions mdl-card--border">
							<input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="Submit!" action="{{ url_for('listVideos') }}"/>
						</div>
						<!-- Submit button ENDS -->
						</form>
						{% endblock %}
						<!--Form ends here-->
					</div>
					<!-- Upload card ENDS -->
					
					<!-- Upload TAB content ENDS -->
				</div>
			</section>
			<!-- Upload TAB ENDS -->

			<!-- About TAB -->
			<section class="mdl-layout__tab-panel" id="scroll-tab-3">
				<div class="page-content">
					<!-- About TAB content goes here -->
					<br>
					<br>
					<br>
					<center>
						<!-- About card -->
						<div class="demo-card-wide mdl-card mdl-shadow--16dp">
							<!-- Card title -->
							<div class="mdl-card__title" id="aboutTitle">
								<h2 class="mdl-card__title-text">Our team!</h2>
							</div>
							<!-- Card title ENDS -->
							
							<div class="mdl-card__supporting-text">
								<!-- Three Line List with secondary info and action -->
								<ul class="demo-list-three mdl-list">
									<!-- Member1 -->
									<li class="mdl-list__item mdl-list__item--three-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons mdl-list__item-avatar">music_note</i>
											<span>Tianwei Peter Zhang</span>
										<span class="mdl-list__item-text-body">
												He loves material design.
											</span>
										</span>
										<span class="mdl-list__item-secondary-content">
											<span class="mdl-list__item-secondary-info">Frontend</span>
										<i class="material-icons mdl-button--accent">palette</i>
										</span>
									</li>
									<!-- Member1 ENDS -->
									
									<!-- Member2 -->
									<li class="mdl-list__item mdl-list__item--three-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons  mdl-list__item-avatar">pool</i>
											<span>Farhan Khan</span>
										<span class="mdl-list__item-text-body">
												He wants to speak fluently in a second language. (other than Java!)
											</span>
										</span>
										<span class="mdl-list__item-secondary-content">
											<span class="mdl-list__item-secondary-info">Frontend</span>
										<i class="material-icons mdl-button--accent">texture</i>
										</span>
									</li>
									<!-- Member2 ENDS -->

									<!-- Member3 -->
									<li class="mdl-list__item mdl-list__item--three-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons  mdl-list__item-avatar">beach_access</i>
											<span>Madison Minnick</span>
										<span class="mdl-list__item-text-body">
												Our reliable backend engineer.
											</span>
										</span>
										<span class="mdl-list__item-secondary-content">
											<span class="mdl-list__item-secondary-info">Backend</span>
										<i class="material-icons mdl-button--accent">build</i>
										</span>
									</li>
									<!-- Member3 ENDS -->
									
									<!-- Member4 -->
									<li class="mdl-list__item mdl-list__item--three-line">
										<span class="mdl-list__item-primary-content">
											<i class="material-icons  mdl-list__item-avatar">person_pin_circle</i>
											<span>Ethan Rahman</span>
										<span class="mdl-list__item-text-body">
												Into econ and cs.
											</span>
										</span>
										<span class="mdl-list__item-secondary-content">
											<span class="mdl-list__item-secondary-info">Backend</span>
										<i class="material-icons mdl-button--accent">power</i>
										</span>
									</li>
									<!-- Member4 ENDS -->
								</ul>
								<!-- Three Line List with secondary info and action ENDS -->
							</div>
							<div class="mdl-card__supporting-text">This website is still under construction...</div>
							
							<!-- Spinner -->
							<div class="mdl-spinner mdl-js-spinner is-active"></div>
							<!-- Spinner ENDS -->
							
							<div class="mdl-card__supporting-text">If you have any problems or advice, please feel free to tell us.<br>
							We're here to listen! :)</div>
							
							<br>
							<br>
							
							<!-- Contact us button -->
							<div class="mdl-card__actions mdl-card--border">
								<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									Contact Us!
								</a>
							<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Add function to this button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
							</div>
							<!-- Contact us button ENDS -->
						</div>
						<!-- About card ENDS -->
						
					</center>
					
					<!-- About TAB content ENDS -->
				</div>
			</section>
			<!-- About TAB ENDS -->

			<!-- Github TAB -->
			<section class="mdl-layout__tab-panel" id="scroll-tab-4">
				<div class="page-content">
					<!-- Github TAB content goes here -->
					
					<br>
					<br>
					<br>
					
					<!-- Github card -->
					<div class="demo-card-wide mdl-card mdl-shadow--16dp">
						<div class="mdl-card__title" id="githubTitle">
							<h2 class="mdl-card__title-text">We use Github!</h2>
						</div>
						<div class="mdl-card__supporting-text" align="left">
							We are doing this project as a student group.<br> Our github page is posted here. If you are someone who's looking into how to build a simple project or just want to post a Hi message, feel free to take a look and play with it. (We won't be mad!)
						</div>
						
						<!-- Github link -->
						<div class="mdl-card__actions mdl-card--border" align="center">
							<a href="https://github.com/google/material-design-lite" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-shadow--4dp">
								<i class="material-icons">link</i> Github Link
							</a>
						</div>
						<!-- Github link ENDS -->
						
					</div>
					<!-- Github card ENDS -->

					<!-- Github TAB content ENDS -->
				</div>
			</section>
			<!-- Github TAB ENDS -->

			<br>
			<br>
			
			<!-- Footer -->
			<footer class="mdl-mega-footer">
				<div class="mdl-mega-footer--middle-section">
					<div class="mdl-mega-footer--drop-down-section">
						<input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
						<h1 class="mdl-mega-footer--heading"><b>Acknowledgement</b></h1>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="https://material.io/">Material Design <sup>by Google</sup></a></li>
							<li><a href="https://getmdl.io/">MDL</a></li>
							<li><a href="https://www.youtube.com/">YouTube</a></li>
						</ul>
					</div>

				</div>
				<div class="mdl-mega-footer--bottom-section">
					<div class="mdl-logo">
						<b>Coded with ❤ at Illinois</b>
					</div>
					<ul class="mdl-mega-footer--link-list">
						<li><a href="https://github.com/CS196Illinois">CS196 @ UIUC</a></li>
						<li>Powered by Material Design Lite</li>
					</ul>
				</div>
			</footer>
			<!-- Footer ENDS-->

		</main>
		<!-- Content for each tab ENDS-->

	</div>
	<!-- Master View ENDS -->

</body>

</html>
