<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


<head>
	<title>FC Barcelona, the only club still alive in three Champions League competitions</title>
</head>


<style>
	body {
		width: 100%;
		height: 100%;
		font-family: 'Roboto';
	}

	.cate-drawer-separator {
		height: 1px;
		background-color: #dcdcdc;
		margin: 8px 0;
	}

	.cate-drawer .mdl-navigation__link.mdl-navigation__link {
		font-size: 14px;
		color: #757575;
	}

	.cate-drawer span.mdl-navigation__link.mdl-navigation__link {
		color: #3f51b5;
		font-weight: bold;
	}

	.demo-card-image.mdl-card {
		width: 960px;
		height: 540px;
	}

	.demo-card-wide.mdl-card {
		width: 960px;
	}

	.demo-card-wide>.mdl-card__menu {
		color: #fff;
	}

	.demo-card-wide>.mdl-card__title {
		color: #fff;
		height: 66px;
		background: #3949AB;
	}

	#addTitle {
		background: #EC407A;
	}

	#displayTitle {
		background: #FFA726;
	}

	#submitButton {
		width: 90px;
	}
	
	#home {
			position: absolute;
			right: 40px;
			bottom: 36px;
	}
	
</style>


<body>
	<!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!-- Header -->
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
			
				<!-- Home Button -->
				<a href="index.html" id="home" class="mdl-button mdl-js-button mdl-button--fab mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-shadow--16dp">
					<i class="material-icons">home</i>
				</a>
				<!-- Home Button ENDS -->
				
				<div class="mdl-layout-spacer"></div>
				
				<span class="mdl-layout-title">FC Barcelona, the only club still alive in three Champions League competitions</span>
				
				<div class="mdl-layout-spacer"></div>
				
				<!-- Search Button -->
				<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Add function to this button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
										mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
					</div>
				</div>
				<!-- Search Button ENDS-->
				
			</div>
		</header>
		<!-- Header ENDS -->

		<!-- Drawer -->
		<div class="cate-drawer mdl-layout__drawer">

			<span class="mdl-layout-title"><b>Categories</b></span>

			<nav class="mdl-navigation">
				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">SPORTS</span>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosFootball') }}">Football</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosSoccer') }}">Soccer</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosBasketball') }}">Basketball</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosOSports') }}">Other sports...</a>
				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">MUSIC</span>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosClassical') }}">Classical</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosPop') }}">Pop</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosInstrumental') }}">Instrumental</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosOMusic') }}">Other music...</a>
				<div class="cate-drawer-separator"></div>
				<span class="mdl-navigation__link" href="">MOVIE</span>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosAction') }}">Action</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosComedy') }}">Comedy</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosDocumentary') }}">Documentary</a>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosOMovies') }}">Other movie...</a>
				<div class="cate-drawer-separator"></div>
				<a class="mdl-navigation__link" href="{{ url_for('listVideosO') }}">Others</a>
			</nav>

		</div>
		<!-- DrawerENDS -->
		
		<!-- Main content -->
		<main class="mdl-layout__content">
			<div class="page-content" align="center">
			
				<!-- Your content goes here -->
				
				<br>
				<br>
				
				<!-- YouTube Player card -->
				<div class="demo-card-image mdl-card mdl-shadow--16dp">
					<iframe id="ytplayer" type="text/html" width="960" height="540" src="https://www.youtube.com/embed/9UEvvTecTWo?enablejsapi=1&rel=0&showinfo=0" https://www.youtube.com/watch?v=9UEvvTecTWo frameborder="1" allowfullscreen>
					</iframe>
				</div>
				<!-- YouTube Player card ENDS -->
				
				<br>
				<br>


				<!-- Info card with like and dislike -->
				<div class="demo-card-wide mdl-card mdl-shadow--16dp">
					
					<!-- Card title -->
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">FC Barcelona, the only club still alive in three Champions League competitions</h2>
					</div>
					<!-- Card title ENDS -->
					
					<!-- Card description section -->
					<div class="mdl-card__supporting-text" align="left">
						
						<!-- Description Text -->
						{% block descr %}
						<div class="mdl-card__supporting-text">
							{{ description }}<br>
							----<br>
							FC Barcelona on Social Media
							Subscribe to our official channel http://www.youtube.com/subscription_c...
							Facebook: http://www.facebook.com/fcbarcelona
							Twitter: http://twitter.com/FCBarcelona
							Google+: http://plus.google.com/+FCBarcelona
							Instagram: http://www.instagram.com/FCBarcelona
						</div>
						{% endblock %}
						<!-- Description Text ENDS -->
						
						<!-- Information tag -->
						
						<div class="mdl-card__actions mdl-card--border">
							<span class="mdl-chip mdl-chip--contact mdl-shadow--4dp">
								<img class="mdl-chip__contact" src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>
								<span class="mdl-chip__text">Uploader: {{ name }}</span>
							</span>
							<span class="mdl-chip mdl-shadow--4dp">
								<span class="mdl-chip__text">Uploaded on Mar 30, 2017</span>
							</span>
							<span class="mdl-chip mdl-shadow--4dp">
								<span class="mdl-chip__text">512 likes</span>
							</span>
						</div>
						
						<!-- Information tag ENDS -->
						
					</div>
					<!-- Card description section ENDS -->
					
					<!-- Like and dislike button -->
					<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Add function to this button!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
					<div class="mdl-card__menu">
						<!-- Right aligned menu below button -->
						<button id="share-menu" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">thumbs_up_down</i>
						</button>
						<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-menu">
							<li class="mdl-menu__item">Like</li>
							<li class="mdl-menu__item">Dislike</li>
						</ul>
					</div>
					<!-- Like and dislike button ENDS-->
					
				</div>
				<!-- Info card with like and dislike ENDS -->


				<br>
				<br>


				<!-- Add-comment card -->
				<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Needs implementation!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
				<div class="demo-card-wide mdl-card mdl-shadow--16dp">
					<div class="mdl-card__title" id="addTitle">
						<h2 class="mdl-card__title-text">Add your comment:</h2>
					</div>
					<div class="mdl-card__supporting-text" align="left">
						<!-- Textfield -->
						<form action="#">
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" id="sample1">
								<label class="mdl-textfield__label" for="sample1">Your name(optional): </label>
							</div>
						</form>
						<form action="#">
							<div class="mdl-textfield mdl-js-textfield">
								<input class="mdl-textfield__input" type="text" id="sample1">
								<label class="mdl-textfield__label" for="sample1">Add comment:</label>
							</div>
						</form>
						<!-- Textfield ENDS -->
					</div>
					<div class="mdl-card__actions mdl-card--border" align="left">
						<button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" id="submitButton">
							Submit
						</button>
					</div>
				</div>
				<!-- Add-comment card ENDS -->


				<br>
				<br>


				<!-- Display comment card -->
				<div class="demo-card-wide mdl-card mdl-shadow--16dp">
				
					<!-- Title -->
					<div class="mdl-card__title" id="displayTitle">
						<h2 class="mdl-card__title-text">Comments from other people:</h2>
					</div>
					<!-- Title ENDS -->
					
					<!-- Content section -->
					<div class="mdl-card__supporting-text" align="left">
					
						<!-- Comment piece -->
						<div class="mdl-card__actions">
						
							<!-- Anonymous user chip -->
							<span class="mdl-chip mdl-chip--contact">
								<img class="mdl-chip__contact" src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>
								<span class="mdl-chip__text">Anonymous_User:</span>
							</span>
							<!-- Anonymous user chip ENDS -->
							
							<!-- Comment text chip -->
							<span class="mdl-chip mdl-shadow--8dp">
								<span class="mdl-chip__text">this is absolutely fabulous</span>
							</span>
							<!-- Comment text chip ENDS -->
							
						</div>
						<!-- Comment piece ENDS -->
						
						<!-- Comment piece -->
						<div class="mdl-card__actions">
						
							<!-- User chip with name -->
							<span class="mdl-chip mdl-chip--contact">
								<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">L</span>
								<span class="mdl-chip__text">Lionel_Messi_10:</span>
							</span>
							<!-- User chip with name ENDS -->
							
							<!-- Comment text chip -->
							<span class="mdl-chip mdl-shadow--8dp">
								<span class="mdl-chip__text">I'm proud of this team!</span>
							</span>
							<!-- Comment text chip ENDS -->
							
						</div>
						<!-- Comment piece ENDS -->
						
						<!-- Comment piece -->
						<div class="mdl-card__actions">
						
							<!-- User chip with name -->
							<span class="mdl-chip mdl-chip--contact">
								<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">彼</span>
								<span class="mdl-chip__text">彼得张:</span>
							</span>
							<!-- User chip with name ENDS -->
							
							<!-- Comment text chip -->
							<span class="mdl-chip mdl-shadow--8dp">
								<span class="mdl-chip__text">巴萨万岁！</span>
							</span>
							<!-- Comment text chip ENDS -->
							
						</div>
						<!-- Comment piece ENDS -->
						
						<!-- Comment piece -->
						<div class="mdl-card__actions">
						
							<!-- User chip with name -->
							<span class="mdl-chip mdl-chip--contact">
								<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">ド</span>
								<span class="mdl-chip__text">ドナルド・トランプ:</span>
							</span>
							<!-- User chip with name ENDS -->
							
							<!-- Comment text chip -->
							<span class="mdl-chip mdl-shadow--8dp">
								<span class="mdl-chip__text">バルセロナ最高！！</span>
							</span>
							<!-- Comment text chip ENDS -->
							
						</div>
						<!-- Comment piece ENDS -->

						<!-- Comment piece -->
						<div class="mdl-card__actions">
						
							<!-- Anonymous user chip -->
							<span class="mdl-chip mdl-chip--contact">
								<img class="mdl-chip__contact" src="https://getmdl.io/templates/dashboard/images/user.jpg"></img>
								<span class="mdl-chip__text">Anonymous_User:</span>
							</span>
							<!-- Anonymous user chip ENDS -->
							
							<!-- Comment text chip -->
							<span class="mdl-chip mdl-shadow--8dp">
								<span class="mdl-chip__text">Força Barça!</span>
							</span>
							<!-- Comment text chip ENDS -->
							
						</div>
						<!-- Comment piece ENDS -->

					</div>
					<!-- Content section ENDS -->
				</div>
				<!-- Display comment card ENDS -->

				<br>
				<br>
				
			<!-- Your content ends here -->
			</div>
		</main>
		<!-- Main content ENDS -->
		
	</div>
</body>

</html>
