<!DOCTYPE html>
<html>
	<body>
		<table border = 1>
			<thead>
				<td>Username</td>
				<td>Url</td>
				<td>Category</td>
				<td>Comment</td>
				<td>Image</td>
				<td>Date</td>
			</thead>
			
			{% for ro in row %}
				<tr>
					<td>{{ ro["name"] }}</td>
					<td>{{ ro["url"] }}</td>
					<td>{{ ro["category"] }}</td>
					<td>{{ ro["comment"] }}</td>
					<td>{{ ro["image"] }}</td>
					<td>{{ ro["date"] }}</td>
				</tr>
			{% endfor %}
		</table>
		<a href = "/"> Go back to home page</a>
	</body>
</html>